@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.header {
    background-image: url("https://p.vitalmtb.com/photos/stories/2021/11/30/full_07_MET_Parachute_MCR_3_Web_ulyssedaessle_met_helmets_147715.jpg");
    display: flex;
    /*     align-content: center;
    align-items: center; */
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 10vh;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    background-color: transparent;
    background-attachment: fixed;
    font-family: 'Syne Mono', monospace;
}

#logo {
    width: 50px;
    height: 50px;
    background: transparent;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {

    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    transition: 0.5s;
    font-weight: bold;
    color: white;
}

.fa-bars,
.fa-regular {
    color: rgb(255, 255, 255);
}

nav li:first-child {
    margin-right: auto;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;

}

img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.hero-btn {
    width: 30%;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 17px;
    background: transparent;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 69vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;

}

.sidebar li {
    width: 100%
}

.sidebar a {
    width: 100%;
    color: #000;
}

.dropdown-menu {
    color: #000;
}

#dropdownMenuButton {
    color: black;
}

.menu-button {
    display: none;

}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

.menu-button {
    display: block;
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.dropdown {
    width: 100%;

}

#dropdownMenuButton {
    background: transparent;
    border: none;
}

.terms{
    width: 100%;
    /* margin: 10px;*/
    padding: 20px; 
    background-color: antiquewhite;
    border-radius: 15px;
}